@namespace SnakeClaude.Components.Game.Rendering

<div class="frutiger-aero-layer" aria-hidden="true">
    <div class="aero-skyshine"></div>
    <div class="aero-bubble bubble-one"></div>
    <div class="aero-bubble bubble-two"></div>
    <div class="aero-bubble bubble-three"></div>
    <div class="aero-bubble bubble-four"></div>
    <div class="aero-sparkle sparkle-one"></div>
    <div class="aero-sparkle sparkle-two"></div>
    <div class="aero-sparkle sparkle-three"></div>
</div>
